:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --font-main: "Montserrat", sans-serif;
  --font-accent: "Rubik", sans-serif;

  --page-bg: #f8f8f8;
  --text-color: #242424;
  --accent: #d3ff24;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}
