.benefit {
  margin-bottom: 100px;
  &__in-container {
		display: flex;
		flex-direction: column;
  }
  &__title {
    margin-bottom: 50px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
  }
  &__item {
    max-width: 410px;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 4px 18px 0 rgba(205, 205, 205, 0.25);
  }
  &__item-img {
    padding-bottom: 54%;
    margin-bottom: 25px;
    border-radius: 6px;
  }
  &__item-content {
    & > *:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__item-title {
    font-weight: 600;
    font-size: 20px;
  }
  &__item-desc {
  }
  &__btn {
		display: inline-flex;
		align-self: center;
    gap: 10px;
    border-radius: 50px;
    padding: 15px 25px;
		background: var(--accent);
    font-weight: 700;
    font-size: 20px;
		cursor: pointer;
  }
}
