.slide-contacts {
  &__container {
    width: 100%;
    z-index: 50;
  }

  &__title {
    margin-bottom: 50px;
  }
  &__data {
    & > *:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__data-phone {
		display: inline-block;
    font-weight: 700;
    font-size: 40px;
		color: #fff;
		transition: all 0.3s ease;

		&:hover {
			color: var(--accent);
		}
  }

  &__data-text {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
		display: flex;
		gap: 10px;
		align-items: center;

		a {
			color: white;
			text-decoration: underline !important;
			transition: all 0.3s ease;

			&:hover {
				color: var(--accent);
			}
		}

		& > div > img {
			width: 70px;
		}
  }
}
